body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /*background: #333;*/
}

.navbar {
    margin: auto;
    clear: both;
    overflow: auto;
    -webkit-box-shadow: 0 8px 6px -6px #E7E9EB;
    -moz-box-shadow: 0 8px 6px -6px #E7E9EB;
    box-shadow: 0 8px 10px -6px #E7E9EB;
}

nav {

    float: right;
    padding: 20px 5px 0 0;
}

.logo {
    float: left;
    padding-top: 3px;
    text-transform: uppercase;
    color: + -3;
}

ul li {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: 15px;
}

ul li:hover {
    cursor: pointer;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.24);
}

.masonry {
    margin: 20px auto;
    columns: 6;
    column-gap: 40px;
}

.masonry .box {
    width: 100%;
    margin: 0 0 20px;
    background: #fff;
    overflow: hidden;
    break-inside: avoid;
}

.masonry .box img {
    max-width: 100%;
    cursor: pointer;
}

.masonry .box h2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
}

.masonry .box p {
    margin: 0;
    padding: 10px 0 10px;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .masonry {
        columns: 4;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: 768px) {
    .masonry {
        columns: 3;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

@media (max-width: 480px) {
    .masonry {
        columns: 1;
        width: calc(100% - 40px);
        box-sizing: border-box;
        padding: 20px 20px 20px 0;
    }
}

.button {
    text-transform: uppercase;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}

.button-favorites {

    background-color: white;
    color: black;
    border: 1px solid #E7E9EB;
}

.button-upload {
    background-color: #E7E9EB;
    color: black;
}

.button-login {
    background-color: #585858;
    color: white;
}

.button-round {
    width: 380px;
    display: inline;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border-radius: 25px;
    background-color: #585858;
    font-weight: bolder;

}

.button-select {
    width: 190px;
    display: inline;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bolder;
    border: 1px solid #E7E9EB;
    background-color: #E7E9EB;
    color: black;

}

.button-select-active {
    background-color: white;
    color: black;
}

.header-text {
    margin-top: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
}

/*.upload-image*/
/*{*/
/**/
/*}*/

.standart-label {
    text-transform: uppercase;
    display: block;
    margin-bottom: 0;

}

.standart-input {
    display: inline;

    width: 380px;
    height: 50px;
    text-align: center;

    margin-top: 2%;
    padding: 15px;

    font-size: 16px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
}

.modal {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-open .modal {
    z-index: 1050;
}


body .modal-dialog {
    margin: auto;
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.anchor {
    display: block;
    height: 40px;
    /*margin-top: -92px;*/
}
.isadmin-checkbox {
    height: 32px;
    display: none;
}
#confirm_password {
    display: none;

}